@page "/todo"
@attribute [Authorize]

@using Microsoft.JSInterop
@inject ITodoService TodoService
@inject IJSRuntime JS
@using todo.Models

<div class="header-title">
    <h2>Todo</h2>
    <button class="btn btn-link" @onclick="addTodo">Adicionar</button>
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Tarefa</th>
            <th>Done</th>
            <th>Criado em</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < todos.Count; i++)
        {
            var todo = todos[i];

            <tr>
                <td>@todo.Title</td>
                <td>@(todo.Done ? "Sim" : "Não")</td>
                <td>@todo.CreatedAt</td>
                <td style="width: 220px;">
                    <button class="btn btn-warning btn-sm" @onclick="@(() => EditItem(todo))">Editar</button>
                    <button class="btn btn-danger btn-sm" @onclick="@(() => DeleteItem(todo))">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<Form @ref="form" OnClickCallback="@refreshData" />

@code {
    private Form form { get; set; }
    private List<TodoModel> todos { get; set; } = new List<TodoModel>();

    protected override async Task OnInitializedAsync()
    {
        await getData();
    }

    public void addTodo()
    {
        form.Open("New Todo", new TodoModel());
    }

    private async void refreshData()
    {
        await getData();
        StateHasChanged();
    }

    private async Task getData()
    {
        todos = await TodoService.Get();
    }

    public async Task DeleteItem(TodoModel todo)
    {
        var confirm = await this.JS.InvokeAsync<bool>("confirm", "Deseja excluir o registro selecionado?");

        if (confirm)
        {
            await TodoService.Delete(todo.id);
            await getData();
            await this.JS.InvokeVoidAsync("alert", "Registro excluído com sucesso!");
        }
    }


    public void EditItem(TodoModel todo)
    {
        form.Open("Edit Todo", todo);
    }
}